.body {
  font-size: 18px;
}
.square {
  width:75px;
  height: 75px;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  float:left;
}

.game-board {
  margin: 0 auto;
}
.game {
  display: flex;
  flex-direction: row;
}
.status {
  font-size: 32px;
  margin: 20px 0;
}
.reset {
  margin-top: 15px;
  width:225px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
